#body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    touch-action: none;
}

#canvas{
    height: 50vh;
}

#map{
    height: 50vh;
}

@media screen and (orientation: landscape){
    .container{
        display: flex;
        flex-direction: row;
        height: auto;
        touch-action: none;
    }
    #canvas{
        width: 50%;
        height: 100vh;
    }
    #map{
        width: 50%;
        height: 100vh;
    }
}